.btn {
    border: 1px solid black;
    background-color: lightblue;
}

.uvGood {
    color: white;
    padding: 2px;
    background-color: green;
    width: 100px;
}

.uvModerate {
    color: white;
    padding: 2px;
    background-color: purple;
    width: 100px;
}

.uvSevere {
    color: white;
    padding: 2px;
    background-color: red;
    width: 100px;
}

.cityList {
    background-color: lightgrey;
    border: 1px solid black;
}

